/**
 * Essa folha de estilo contém as definições para o Rodapé da Página
 */


/*------------------------------------*\
  #     footer-main
  \*------------------------------------*/
.footer-main {
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  .footer__text--alpha {
    opacity: 0.8;
  }
  .footer__quero-educacao {
    span {
      font-size: 18px;
    }
    a {
      color: rgba(255, 255, 255, 0.8);
    }
    a:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  .footer--border-top {
    border-top: 2px solid #0b8ca1;
  }
  .footer--padding-top {
    padding-top: 20px;
  }
  .footer--padding-bottom {
    padding-bottom: 20px;
  }
}
