<footer class="footer-main" data-ui-component="Rodapé da Página">
  <app-footer-contact-us></app-footer-contact-us>
  <app-footer-util-links></app-footer-util-links>
  <app-footer-note-bar></app-footer-note-bar>
</footer>
