
/*------------------------------------*\
  #            footer-note-bar
  \*------------------------------------*/
  .footer-note-bar__wrapper {
    width: 100%;
    padding: 10px 0;
    background-color: #006f8a;
    img {
      height: 26px;
      margin-left: 4px;
    }
    @media (max-width: 992px) {
      height: 100%;
      .container {
        flex-direction: column-reverse;
        max-width: 100%;
        padding: 0;
      }
    }
    .mobile__payment--padding {
      margin-bottom: 10px;
    }
    .social-media-mobile-container {
      display: flex;
      width: 100%;
      height: 60px;
      border-top: 1px solid #077994;
      border-bottom: 1px solid #077994;
      align-items: center;
      justify-content: center;
    }
    .icon__social-media {
      height: 35px;
      padding: 0 15px;
    }
  }