<section class="d-flex footer-note-bar__wrapper">
    <div class="d-flex container justify-content-between align-items-center">
      <div class="d-flex-block">
        <p class="footer__text--alpha nomargin nopadding">
          RedeAlimni © 2011 - 2016
          <br /> CNPJ: 10.542.212/0001-54
        </p>
      </div>
      <div class="d-none d-lg-flex">
        <img src="assets/img/site-seguro.png" title="Site Seguro" alt="logo-site-seguro" />
        <img src="assets/img/visa.svg" title="Visa" alt="logo-visa" />
        <img src="assets/img/mastercard.svg" title="Mastercard" alt="logo-mastercard" />
        <img src="assets/img/amex.svg" title="Amex" alt="logo-amex" />
        <img src="assets/img/dinnersclub.svg" title="Dinners Club" alt="logo-dinners-club" />
        <img src="assets/img/elo.svg" title="Elo" alt="logo-elo" />
        <img src="assets/img/hipercard.svg" title="HiperCard" alt="logo-hipercard" />
        <img src="assets/img/boleto.svg" title="Boleto Bancário" alt="logo-boleto-bancario" />
      </div>
      <div class="d-flex d-lg-none order-4 mobile__payment--padding">
        <img src="assets/img/site-seguro.png" title="Site Seguro" alt="logo-site-seguro" />
        <img src="assets/img/visa.svg" title="Visa" alt="logo-visa" />
        <img src="assets/img/mastercard.svg" title="Mastercard" alt="logo-mastercard" />
        <img class="d-none d-md-flex" src="assets/img/amex.svg" title="Amex" alt="logo-amex" />
        <img class="d-none d-md-flex" src="assets/img/elo.svg" title="Elo" alt="logo-elo" />
        <img src="assets/img/boleto.svg" title="Boleto Bancário" alt="logo-boleto" />
      </div>
      <div class="d-flex-block">
        <p class="footer__quero-educacao footer__text--alpha nomargin nopadding">
          Feito com
          <span>♥</span> pela
          <a href="https://quero.education" target="_blank">Quero Educação </a>
        </p>
      </div>
      <div class="d-flex-block d-lg-none footer--border-top footer--border-bottom social-media-mobile-container">
        <a href="#">
          <img src="assets/img/youtube.png" alt="logo-youtube" title="Nosso canal no Youtube" class="icon__social-media">
        </a>
        <a href="#">
          <img src="assets/img/instagram.png" alt="logo-instagram" title="Nosso perfil no Instagram" class="icon__social-media">
        </a>
        <a href="#">
          <img src="assets/img/facebook.png" alt="logo-facebook" title="Nossa página no Facebook" class="icon__social-media">
        </a>
      </div>
    </div>
  </section>