/*------------------------------------*\
#     header-menu
\*------------------------------------*/

.header-menu {
  width: 100%;
  border-top: 1px solid #3a7883;
  border-bottom: 1px solid #3a7883;
  background-color: #0f9cb0;
  .inline-list-links {
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      list-style: none;
      text-align: left;
      margin: 0;
      padding: 0;
    }
    li {
      display: flex;
      justify-content: space-between;
      height: 45px;
      &.head {
        font-weight: 600;
      }
      a {
        display: flex;
        align-items: center;
        padding: 0 15px;
        font-size: 16px;
        color: #fff;
        &:hover {
          background-color: #2ba5b0;
        }
      }
    }
    &.inline-list-links--margin-right {
      margin-right: 15px;
    }
    .my-account {
      font-weight: 600;
    }
    .dropdown-menu {
      background-color: #0f9cb0;
      a {
        padding: 5px 10px;
      }
    }
  }
}
