<div class="d-none d-lg-flex header-menu" data-ui-component="Menu Principal">
  <div class="d-flex container align-items-center">
    <div class="d-flex align-self-stretch container nopadding">
      <nav class="d-flex inline-list-links">
        <ul class="justify-content-between">
          <li class="align-self-stretch">
            <a class="my-account" href="#">MINHA CONTA</a>
          </li>
          <li class="align-self-stretch">
            <a href="#">Pré-matrículas</a>
          </li>
          <li class="align-self-stretch">
            <a href="#">Meus cursos</a>
          </li>
          <li class="align-self-stretch">
            <a href="#">Atualizar meus dados</a>
          </li>
          <li class="align-self-stretch">
            <a href="#">Contas e Preferências</a>
          </li>
          <li class="align-self-stretch">
            <a href="#">Quero Bolsa Indica</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="d-flex d-lg-none header-menu" data-ui-component="Menu Principal Mobile">
  <div class="d-flex container-fluid nopadding align-items-center">
    <div class="d-flex align-self-stretch container nopadding">
      <nav class="d-flex inline-list-links">
        <ul class="justify-content-between">
          <li class="align-self-stretch">
            <a class="my-account" href="#">MINHA CONTA</a>
          </li>

          <li class="align-self-stretch">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Pré-matrículas</a>
              <a class="dropdown-item" href="#">Meus cursos</a>
              <a class="dropdown-item" href="#">Atualizar meus dados</a>
              <a class="dropdown-item" href="#">Contas e Preferências</a>
              <a class="dropdown-item" href="#">Quero Bolsa Indica</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
