/*------------------------------------*\
#     header-main
\*------------------------------------*/
.header__item {
  display: flex;
  align-items: center;
  a {
    text-align: center;
    color: #444;
    &:hover {
      color: #000;
    }
  }
  &.header__logo__image {
    position: relative;
    margin: 10px 5px;
    @media (min-width: 992px) {
      left: -40px;
    }
  }
  &.header__item--border-right {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
  }
  &.header__item--border-left {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 10px;
  }
  &.header__item--stretch {
    width: 100%;
  }
  &.header__item--align-left {
    justify-content: flex-start;
  }
  &.header__item--align-right {
    justify-content: flex-end;
  }
}

.header__mobile--link-style {
  font-size: 12px;
  font-weight: 600;
}

.header--wrapper {
  width: 100%;
  height: 65px;
}
