<div class="d-flex">
  <div class="d-flex container justify-content-between align-items-center">
    <div class="d-none d-lg-inline-flex align-self-stretch">
      <div class="d-flex header__item header__item--border-right header__item--align-left">
        <a href="#">
          <img title="Como Funciona?" class="icon icon--margin-right" src="assets/img/info-icon.jpg" alt="Como Funciona?"> Como Funciona
        </a>
      </div>

      <div class="d-flex header__item">
        <a href="#">
          <img title="Contato" class="icon icon--margin-right" src="assets/img/phone-icon.jpg" alt="Ajuda"> 0800 666 1010
        </a>
      </div>
    </div>

    <div class="d-flex d-lg-none align-self-stretch">
      <div class="header__item header__item--border-right header__item--align-left justify-content-center">
        <a href="#">
          <img title="Ajuda" class="icon" src="assets/img/help-icon.jpg" alt="Ajuda"><br />
          <span class="header__mobile--link-style">Ajuda</span>
        </a>
      </div>
    </div>

    <div class="header__item header__item--logo">
      <a href="#">
        <img title="Quero Bolsa" class="header__item header__logo__image" src="assets/img/logo-querobolsa.svg" width="140" alt="Logo querobolsa">
      </a>
    </div>

    <div class="d-none d-lg-inline-flex header__item header__item--padding header__item--align-right">
      <a href="#">
        Entre ou crie sua conta
        <img title="Fazer Login" class="icon icon--margin-left" src="assets/img/account-icon.jpg" alt="Fazer Login">
      </a>
    </div>

    <div class="d-flex d-lg-none align-self-stretch">
      <div class="header__item header__item--border-left header__item--align-left justify-content-center">
        <a href="#">
          <img title="Fazer Login" class="icon" src="assets/img/account-icon.jpg" alt="Fazer Login"><br />
          <span class="header__mobile--link-style">Entrar</span>
        </a>
      </div>
    </div>

  </div>
</div>
