<section class="d-flex footer-util-links">
  <div class="d-flex container-fluid align-items-center nopadding nomargin flex-wrap">
    <div class="d-flex container-fluid nopadding nomargin align-self-stretch align-items-center">
      <div class="d-flex container justify-content-between">

        <div data-ui-component="Links Úteis" class="d-none d-lg-flex inline-list-wrapper footer--padding-top footer--padding-bottom justify-content-between">
          <div class="inline-list-links inline-list-links--margin-right">
            <ul>
              <li class="head">Encontre sua Bolsa</li>
              <li>
                <a rel="nofollow" href="#">Busque por Faculdade</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Busque por Curso</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Mapa de Faculdades</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Mapa de Cursos</a>
              </li>
            </ul>
          </div>

          <div class="inline-list-links inline-list-links--margin-right">
            <ul>
              <li class="head">Central de Ajuda</li>
              <li>
                <a rel="nofollow" href="#">Passo a Passo</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Perguntas Frequentes</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Vs Educa Mais Brasil</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Vs Mais Estudo/Neora</a>
              </li>
            </ul>
          </div>

          <div class="inline-list-links inline-list-links--margin-right">
            <ul>
              <li class="head">Programas do Governo</li>
              <li>
                <a rel="nofollow" href="#">Notas de Corte</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Tudo sobre Prouni</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Tudo sobre Sisu</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Tudo sobre Fies</a>
              </li>
            </ul>
          </div>

          <div class="inline-list-links inline-list-links--margin-right">
            <ul>
              <li class="head">Revista QB</li>
              <li>
                <a rel="nofollow" href="#">Vestibular e Enem</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Dicas e curiosidades</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Carreiras</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Universidades</a>
              </li>
            </ul>
          </div>

          <div class="inline-list-links inline-list-links--margin-right">
            <ul>
              <li class="head">Institucional</li>
              <li>
                <a rel="nofollow" href="#">Trabalhe Conosco</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Para Faculdades</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Seja um Parceiro</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Imprensa</a>
              </li>
            </ul>
          </div>

          <div class="inline-list-links inline-list-links--margin-right">
            <ul>
              <li class="head">Dicas Quero Bolsa</li>
              <li>
                <a rel="nofollow" href="#">Bolsas Ensino Básico</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Serviços Parceiros</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Quero Bolsa 100%</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="d-flex d-lg-none" data-ui-component="Links Úteis - Mobile">
          <div class="mobile__inline-list-links">
            <ul>
              <li>
                <a rel="nofollow" href="#">Central de Ajuda</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Vs Educa Mais Brasil</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Vs Mais Estudo</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Mapa de Faculdades</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Mapa de Cursos</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Revista QB</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Guia de Programas do Governo</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Trabalhe Conosco</a>
              </li>
              <li>
                <a rel="nofollow" href="#">Imprensa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-flex container-fluid nomargin align-self-stretch align-items-center footer--border-top footer--padding-top  footer--padding-bottom">
      <div class="d-flex container justify-content-between">
        <div class="d-flex justify-content-around flex-column w-25 box--padding">
          <p class="nomargin">Somos destaque na imprensa</p>
          <p class="logo__midia nomargin align-items-between">
            <img src="assets/img/logo-globo.png" title="Logo Globo" class="globo--style" />
            <img src="assets/img/logo-folha.png" title="Logo Folha" class="folha--style" />
            <img src="assets/img/logo-veja.png" title="Logo Veja" class="veja--style" />
          </p>
        </div>
        <div class="d-flex justify-content-around flex-column w-25 box--padding">
          <p class="nomargin">Conecte-se às nossas redes sociais</p>
          <p class="logo__social-media align-items-between nomargin">
            <a href="#">
              <img src="assets/img/youtube.png" title="Veja nosso canal no youtube" />
            </a>
            <a href="#">
              <img src="assets/img/instagram.png" title="Siga-nos no Instagram" />
            </a>
            <a href="#">
              <img src="assets/img/twitter.svg" title="Siga-nos no Twitter" />
            </a>
            <a href="#">
              <img src="assets/img/facebook.png" title="Curta nossa página no Facebook" />
            </a>
            <span>500k likes</span>
          </p>
        </div>
        <div class="d-flex justify-content-around flex-column w-25 box--padding">
          <p class="nomargin">Atendimento de excelência</p>
          <p class="logo__premio-epoca align-items-between nomargin">
            <img src="assets/img/premio-epoca.jpg" title="Prêmio Época - Quero Bolsa" />
          </p>
        </div>
        <div class="d-flex justify-content-around flex-column w-25 box--padding">
          <p class="nomargin">Política bolsa garantida</p>
          <p class="logo__selo-politica align-items-between nomargin">
            <img src="assets/img/selo-politica.png" title="Política Bolsa Garantida" />
            <span>Você na faculdade ou seu
              <br />dinheiro de volta.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
