/*------------------------------------*\
  #          footer-util-links
  \*------------------------------------*/

.footer-util-links {
  width: 100%;
  padding: 10px 0;
  img {
    height: 36px;
    margin-right: 8px;
  }
  background-color: #05869b;
  .inline-list-wrapper {
    width: 100%;
    padding: 0 5px;
  }
  .inline-list-links {
    ul {
      list-style: none;
      text-align: left;
      margin: 0;
      padding: 0;
    }
    li {
      &.head {
        font-weight: 500;
      }
      margin-bottom: 10px;
      a {
        color: rgba(255, 255, 255, 0.8);
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    &.inline-list-links--margin-right {
      margin-right: 15px;
    }
  }
  %logo {
    margin-top: 34px;
  }
  .logo__midia {
    .globo--style {
      height: 32px;
    }
    .folha--style {
      height: 23px;
      margin-left: 17px;
    }
    .veja--style {
      height: 31px;
      margin-left: 7px;
    }
  }
  .logo__social-media {
    @extend %logo;
    span {
      font-size: 12px;
    }
  }
  .logo__premio-epoca {
    @extend %logo;
    img {
      height: 50px;
    }
  }
  .logo__selo-politica {
    @extend %logo;
    display: inherit;
    img {
      height: 54px;
    }
    span {
      align-self: center;
    }
  }
  /*------------------------------------*\
  #            mobile section
  \*------------------------------------*/
  .mobile__inline-list-links {
    ul {
      list-style: none;
      text-align: center;
      margin: 0;
    }
    li {
      display: inline-block;
      margin-bottom: 10px;
      a {
        color: #fff;
      }
      &:after {
        content: ' ';
        height: 10px;
        margin-left: 12px;
        margin-right: 12px;
        border-left: 1px solid #fff;
        display: inline-block;
      }
      &:last-of-type:after {
        height: 0;
      }
    }
  }
}
