/*------------------------------------*\
  #            footer-contact-us
  \*------------------------------------*/
  .footer-contact-us {
    width: 100%;
    height: 100px;
    border-top: 1px solid #3a7883;
    border-bottom: 1px solid #3a7883;
    background-color: #17acc4;
    
    .footer__contact {
      p {
        line-height: 18px;
        margin: 0;
        &.title {
          font-weight: 500;
          font-size: 22px;
          span {
            font-size: 14px;
          }
        }
        i {
          content: ' ';
          display: inline-block;
          border-radius: 50%;
          height: 8px;
          width: 8px;
          margin-right: 5px;
        }
      }
      img {
        opacity: 0.25;
        margin-right: 10px;
      }
    }

    /*------------------------------------*\
    #           mobile section
    \*------------------------------------*/
    .mobile-footer__phone-wrapper {
      min-width: 154px;
    }
    .mobile-footer__contact {
      p {
        line-height: 18px;
        margin: 0;
        &.title {
          font-weight: 600;
          font-size: 13px;
          span {
            font-weight: 500;
            font-size: 10px;
          }
        }
      }
      i {
        content: ' ';
        display: inline-block;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        margin-right: 5px;
      }
      img {
        width: 23px;
        height: auto;
        margin-bottom: 10px;
      }
    }
    .mobile-footer__phone-text {
      img {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }