<section class="d-flex footer-contact-us">
  <div class="d-none d-lg-flex container align-items-center footer__contact">
    <div class="d-flex align-items-center justify-content-center w-25 box--padding">
      <img src="assets/img/telefone.svg" title="Ligue para nós agora mesmo" />
      <p class="title">0800 666 1010
        <br />
        <span>
          <i class="offline--color-status"></i>Seg - Sex das 9h às 23h</span>
      </p>
    </div>

    <div class="d-flex align-items-center justify-content-center w-25 box--padding">
      <img src="assets/img/chat.svg" title="Chat ao Vivo" />
      <p class="title">Chat ao Vivo
        <br />
        <span>
          <i class="offline--color-status"></i>Fale com um atendente</span>
    </div>

    <div class="d-flex align-items-center justify-content-center w-25 box--padding">
      <img src="assets/img/email.svg" title="Mande um E-mail" />
      <p class="title">Mande um E-mail
        <br />
        <span>
          <i class="online--color-status"></i>Respondemos rapidinho</span>
    </div>

    <div class="d-flex align-items-center justify-content-center w-25 box--padding">
      <img src="assets/img/info.svg" title="Central de Ajuda" />
      <p class="title">Central de Ajuda
        <br />
        <span>
          <i class="online--color-status"></i>Encontre todas as respostas</span>
    </div>

  </div>

  <div class="d-flex d-lg-none container-fluid nopadding align-items-center mobile-footer__contact">
    <div class="d-flex align-items-center align-self-stretch justify-content-center w-25 mobile-footer__phone-wrapper box--right-border box--padding">
      <div class="d-inline-flex mobile-footer__phone-text">
        <img src="assets/img/telefone-mobile.svg" title="Ligue para nós agora mesmo" />
        <p class="title">0800 666 1010
          <br />
          <span>
            <i class="offline--color-status"></i>Seg-Sex 9h às 23h</span>
        </p>
      </div>
    </div>

    <div class="d-flex align-items-center align-self-stretch flex-column justify-content-center w-25 box--right-border box--padding">
      <img src="assets/img/chat-mobile.svg" title="Clique aqui e fale conosco" />
      <p class="title">
        <i class="offline--color-status"></i>Chat</p>
    </div>

    <div class="d-flex align-items-center align-self-stretch flex-column justify-content-center w-25 box--right-border box--padding">
      <img src="assets/img/email-mobile.svg" title="Clique aqui e entre em contato conosco" />
      <p class="title">
        <i class="online--color-status"></i>E-mail</p>
    </div>

    <div class="d-flex align-items-center align-self-stretch flex-column justify-content-center w-25 box--padding">
      <img src="assets/img/info-mobile.svg" title="Clique aqui para obter ajuda" />
      <p class="title">
        <i class="online--color-status"></i>Ajuda</p>
    </div>
  </div>
</section>
