/*------------------------------------*\
  #            main-subscription
  \*------------------------------------*/
.main-subscription {
  width: 100%;
  p {
    color: #787878;
    text-align: justify;
  }
  .subscription-form {
    position: relative;
    top: 30px;
    padding: 30px 30px 0 30px;
    background-color: #fff;
    width: 100%;
    max-width: 90%;
    min-height: 455px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px grey;
    border-radius: 5px;
    @media (max-width: 992px) {
      top: 0;
      margin: 0;
      max-width: 100%;
    }
    .rule {
      padding-top: 20px;
      a {
        font-size: 16px;
        font-weight: 500;
        color: #f9c442;
      }
    }
    p {
      padding-top: 10px;
      margin-bottom: 0;
    }
    h1 {
      font-size: 22px;
      font-weight: 600;
    }
    label {
      color: #787878;
      font-size: 12px;
      font-weight: 400;
      padding-top: 10px;
    }
    .dropdown--padding-right {
      padding-right: 10px;
    }
    .btn-light {
      background-color: #fff;
      border: 1px solid #ccc;
    }
    .btn-enroll {
      padding-top: 20px;
      .btn-success {
        background-color: #10ca79;
        border: 0;
      }
      .btn-success:hover {
        background-color: #10bb71;
      }
    }
  }
}
