<section class="d-flex" data-ui-component="Formulário de Inscrição">
  <div class="d-flex container-fluid background--gray">
    <div class="d-flex nopadding container">
      <div class="main-subscription">
        <!-- ==============================// DIVIDED BLOCK //============================== -->
        <!-- ===============// 50% //=============== -->
        <div class="d-inline-flex flex-column w-50">

          <div class="d-flex flex-row justify-content-between margin--right">
            <!-- ==============================// DIVIDED BLOCK 2 //============================== -->
            <!-- ===============// 50% 2 //=============== -->
            <div class="d-flex flex-column w-100">
              <h2>
                Passo a passo do Quero Bolsa Indica
              </h2>
              <h3>Indique amigos, e a gente paga sua mensalidade!</h3>
              <p class="nomargin">
                Aqui está a sua chance de ter mensalidades da sua faculdade pagas pelo programa de indicação do quero bolsa. Indique amigos,
                acumule pontos e troque pelo pagamento das suas mensalidades!
              </p>
              <div class="chain-circle-list">
                <div class="chain-circle-list__item">
                  <div class="chain-circle-list__item-number">1</div>
                  <div class="chain-circle-list__item-description">
                    <b>Cadastre-se</b> no Quero Bolsa Indica.</div>
                </div>
                <div class="chain-circle-list__item">
                  <div class="chain-circle-list__item-number">2</div>
                  <div class="chain-circle-list__item-description">
                    <b>Envie seu link personalizado para os seus ammigos</b> que queiram cursar o Ensino Superior.</div>
                </div>
                <div class="chain-circle-list__item">
                  <div class="chain-circle-list__item-number">3</div>
                  <div class="chain-circle-list__item-description">
                    <b>Acompanhe</b> a sua pontuação no Extrato de Indicações e
                    <b>troque</b> pelo pagamento de mensalidades.</div>
                </div>
              </div>



            </div>
          </div>
          <!-- ===============// END 50% 2 //=============== -->
          <!-- ==============================// DIVIDED BLOCK 2 //============================== -->
        </div>
        <!-- ===============// END 50% //=============== -->
        <!-- ===============// 50% //=============== -->
        <div class="d-inline-flex w-50 flex-column">
          <div class="d-flex flex-column">
            <div class="subscription-form align-self-end">
              <h1>Participe, acumule pontos e ganhe!</h1>
              <p>Preencha os campos abaixo:</p>
              <div class="form-group">
                <label for="situacao">SITUAÇÃO</label>
                <select class="selectpicker form-control" id="situacao" data-live-search="true">
                  <option>Vou me matricular esse semestre</option>
                  <option>ABC</option>
                  <option>DEF</option>
                  <option>GHI</option>
                  <option>JKL</option>
                </select>
                <label for="instituicao">INSTITUIÇÃO DE ENSINO</label>
                <select class="selectpicker form-control" id="instituicao" data-live-search="true">
                  <option>Escolha uma universidade</option>
                  <option>ABC</option>
                  <option>DEF</option>
                  <option>GHI</option>
                  <option>JKL</option>
                </select>
                <!-- ==============================// DIVIDED BLOCK //============================== -->
                <div class="d-flex">
                  <!-- ===============// END 75% //=============== -->
                  <div class="d-flex w-75 flex-column dropdown--padding-right">
                    <label for="curso">CURSO</label>
                    <select class="selectpicker form-control" id="curso" data-live-search="true">
                      <option>Qual curso?</option>
                      <option>ABC</option>
                      <option>DEF</option>
                      <option>GHI</option>
                      <option>JKL</option>
                    </select>
                  </div>
                  <!-- ===============// 75% END //=============== -->
                  <!-- ===============// 25%  //=============== -->
                  <div class="d-flex w-25 flex-column">
                    <label for="mensalidade">MENSALIDADE</label>
                    <input class="form-control" id="mensalidade" />
                  </div>
                  <!-- ===============// END 25% //=============== -->
                </div>
                <!-- ==============================// DIVIDED BLOCK //============================== -->
                <div class="d-flex btn-enroll">
                  <button type="button" class="btn btn-success btn-lg btn-block">Quero participar</button>
                </div>
                <div class="d-flex justify-content-center rule">
                  <a href="#">Leia o regulamento</a>
                </div>
              </div>
            </div>


          </div>
        </div>
        <!-- ===============// END 50% //=============== -->
        <!-- ==============================// END DIVIDED BLOCK //============================== -->
      </div>
    </div>
    <!-- END main-subcription -->
  </div>
</section>
