<main class="main-content" data-ui-component="Conteúdo Principal da Página">
  <div class="d-flex">
    <div class="d-flex container flex-column align-items-start">
      <div class="main-description">
        <h1>Quero Bolsa indica</h1>
        <p class="nomargin">Acumule pontos e troque por mensalidades pagas.</p>
      </div>
      <!-- END main-description -->
    </div>
  </div>

  <app-main-subscription></app-main-subscription>
  <app-main-share-with-your-friends></app-main-share-with-your-friends>

</main>
