
/**
 * Essa folha de estilo contém as definições para o Conteúdo 
 * Principal da Página
 */

/*------------------------------------*\
#            main
\*------------------------------------*/
.main-content {
  h1 {
    font-size: 24px;
    font-weight: 900;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0;
    color: #585858;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    color: #585858;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  .division--line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
  }
  .main-description {
    padding: 30px 0;
  }
  .margin--right {
    margin-right: 10px;
  }
}
