/*------------------------------------*\
  #     main-share-with-your-friends
  \*------------------------------------*/
.share-with-your-friends {
  width: 100%;
  padding: 60px 0;
  input {
    color: #888;
  }
  img {
    width: 48px;
    margin-right: 15px;
  }
  button {
    cursor: pointer;
    &.btn--font-orange {
      color: #f9c442;
      font-weight: 500;
    }
  }
  span {
    &.title {
      margin-bottom: 5px;
      font-size: 14px;
      color: #888;
    }
    &.extra-info {
      font-size: 12px;
      font-style: italic;
      ;
      margin: 5px 0 25px 0;
    }
  }
  .w-50 {
    h2 {
      padding-right: 85px;
    }
    .margin--right {
      margin-right: 15px;
    }
  }
}
