<section class="d-flex" data-ui-component="Compartilhe com os amigos">
  <div class="d-flex container-fluid">
    <div class="d-flex nopadding container">
      <div class="share-with-your-friends">
        <div class="d-flex flex-column">
          <h1>Indique o Quero Bolsa para seus amigos</h1>
          <div class="division--line"></div>
        </div>
        <!-- ==============================// DIVIDED BLOCK //============================== -->
        <!-- ===============// 50% //=============== -->
        <div class="d-inline-flex flex-column w-50">
          <h2>Envie para seus contatos do e-mail e compartilhe nas redes sociais.</h2>
          <div class="d-flex flex-row justify-content-between">
            <!-- ==============================// DIVIDED BLOCK 2 //============================== -->
            <!-- ===============// 50% 2 //=============== -->
            <div class="d-flex flex-column w-50 margin--right">
              <span class="title">Contatos de e-mail</span>
              <div class="d-inline-flex">
                <a href="#">
                  <img src="assets/img/logo-gmail.jpg" alt="logo-gmail" title="Compartilhe usando o Gmail" />
                </a>
                <a href="#">
                  <img src="assets/img/logo-outlook.jpg" alt="logo-outlook" title="Compartilhe usando o Outlook" />
                </a>
              </div>
            </div>
            <!-- ===============// END 50% 2 //=============== -->
            <!-- ===============// 50% 2 //=============== -->
            <div class="d-flex flex-column w-50">
              <span class="title">Redes sociais</span>
              <div class="d-inline-flex">
                <a href="#">
                  <img src="assets/img/logo-facebook.jpg" alt="logo-facebook" title="Compartilhe com seus amigos no Facebook"
                  />
                </a>
                <a href="#">
                  <img src="assets/img/logo-twitter.jpg" alt="logo-twitter" title="Compartilhe com seus amigos no Twitter"
                  />
                </a>
                <a href="#">
                  <img src="assets/img/logo-whatsapp.jpg" alt="logo-whatsapp" title="Compartilhe com seus amigos no Whatsapp"
                  />
                </a>
              </div>
            </div>
          </div>
          <!-- ===============// END 50% 2 //=============== -->
          <!-- ==============================// DIVIDED BLOCK 2 //============================== -->
        </div>
        <!-- ===============// END 50% //=============== -->
        <!-- ===============// 50% //=============== -->
        <div class="d-inline-flex w-50 flex-column">
          <h2>
            Envie o link por e-mail ou copie e compartilhe.
          </h2>
          <div class="d-flex flex-column">
            <span class="title">Digite o email das pessoas que você quer enviar o convite</span>
            <div class="d-flex">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Entre com os e-mails" aria-describedby="compartilhar por email">
                <div class="input-group-append">
                  <button class="input-group-text btn--font-orange" id="btn-email-share">Enviar</button>
                </div>
              </div>
            </div>
            <span class="extra-info">Utilize vírgula para separar os e-mails</span>
            <span class="title">Clique para copiar o link, depois cole onde quiser</span>
            <div class="d-flex">
              <div class="input-group">
                <input type="text" class="form-control background--white" id="my-ref-link" readonly value="https://que.bo/qibgkzczi7" aria-describedby="meu link de indicação">
                <div class="input-group-append">
                  <button class="input-group-text btn--font-orange" id="btn-copy-ref-link">Copiar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ===============// END 50% //=============== -->
        <!-- ==============================// END DIVIDED BLOCK //============================== -->
      </div>
      <!-- END share-with-your-friends -->
    </div>
  </div>
</section>
