/*------------------------------------*\
  #     chain-list
  \*------------------------------------*/

.chain-circle-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #787878;
  .chain-circle-list__item {
    display: inline-flex;
    margin-bottom: 10px;
    .chain-circle-list__item-number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #787878;
      border-radius: 25px;
      min-width: 50px;
      height: 50px;
      font-weight: 600;
      font-size: 20px;
      margin: 15px 0;
    }
    .chain-circle-list__item-description {
      align-self: center;
      padding-left: 15px;
      text-align: justify;
    }
  }
  .chain-circle-list__item-number:after {
    position: relative;
    width: 2px;
    top: 43px;
    right: 5px;
    content: '|'; //position: relative;
    background-color: #787878;
    font-size: 10px;
  }
  .chain-circle-list__item:last-of-type {
    .chain-circle-list__item-number:after {
      display: none;
    }
  }
}

/*------------------------------------*\
#     chat status
\*------------------------------------*/
.online--color-status {
  background-color: #64f282;
}

.offline--color-status {
  background-color: #e23d4e;
}
