@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-select/sass/bootstrap-select.scss";
/**
 * O @media print abaixo é um hacker para imprimir o background-color
 * e também evitar que os links fiquem selecionados na impressão
 */

@media print {
  body {
    -webkit-print-color-adjust: exact;
    a {
      text-decoration: none !important;
    }
  }
}

/**
 * Esse é um pequeno fix para o container do Bootstrap
 * Sem ele, nesse intervalo o container não ocupa 100% da largura
 * fazendo com que os icones do menu se afastem do canto da tela
 */

@media (min-width: 576px) and (max-width: 1200px) {
  .container {
    min-width: 100%;
  }
}

/**
 * Fontes
 */

@font-face {
  font-family: "proxima-nova";
  src: url('assets/fonts/proxima-nova-regular-webfont.woff');
  font-weight: 400;
}

@font-face {
  font-family: "proxima-nova";
  src: url('assets/fonts/proxima-nova-semibold-webfont.woff');
  font-weight: 500;
}

@font-face {
  font-family: "proxima-nova";
  src: url('assets/fonts/proxima-nova-bold-italic-webfont.woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "proxima-nova";
  src: url('assets/fonts/proxima-nova-bold-webfont.woff');
  font-weight: 600;
}

@font-face {
  font-family: "proxima-nova";
  src: url('assets/fonts/proxima-nova-regular-italic-webfont.woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "proxima-nova";
  src: url('assets/fonts/proxima-nova-semibold-italic-webfont.woff');
  font-style: italic;
  font-weight: 500;
}

/**
 * Definições globais
 */

body {
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: none;
}

/**
 * Algumas classes de Utility que podem ser utilizadas com escopo global
 * O uso do !important aqui é de forma proativa, uma vez que o uso das classes
 * abaixo expressa a intenção de que a condição das mesmas seja garantida.
 */

.icon {
  &.icon--margin-left {
    margin-left: 5px !important;
  }
  &.icon--margin-right {
    margin-right: 5px !important;
  }
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.background--white {
  background-color: #fff !important;
}

.background--gray {
  background-color: #fafafa !important;
}

.box--padding {
  padding: 0 5px !important;
}

.box--right-border {
  border-right: 1px solid #15a1bc !important;
}
/**
 * Sobrescreve bootstrap-select CSS
 */

button.btn-light {
  background-color: #fff;
  border: 1px solid #ccc;
}
.filter-option-inner-inner {
  color: #787878;
}

/**
 * Sobrescreve alguns comportamentos do bootstrap
 */

.form-control:focus { 
  box-shadow: 0 0 0;
}

@media (max-width: 992px) {
  .w-50 {
    width: 100% !important;
  }
}